*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
.navigation
*.hprof
*.log
.kotlin
.arena
app/release/
app/debug/
*.jks
*.keystore
google-services.json
.cxx/
captures/
output.json
.DS_Store
Thumbs.db
